:root {
  --bg: #1e1e2f;
  --sidebar: #25253b;
  --card: #2c2c3e;
  --text: #f0f0f0; /* Primary text */
  --accent: #4f8cff; /* Accent (buttons, highlights) */
  --border: #444457; /* Borders/dividers */
  --muted: #a0a0a0; /* Secondary text */
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  height: 100vh;
}

.sidebar {
  background-color: var(--sidebar);
  padding: 0.75rem;
  text-align: center;
  color: var(--text);
  border-right: 1px solid var(--border);
}

.sidebar > form {
  margin: 1.5rem 0 4rem;
}

.sidebar > form > input {
  border: none;
  border-radius: 0.25rem;
  width: 12.5rem;
  padding: 0.5rem;
}

.sidebar > form > button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  border: none;
  border-radius: 0.25rem;
  color: white;
  margin-left: 0.25rem;
  cursor: pointer;
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-item {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background: var(--card);
  margin-bottom: 0.5rem;
}

.project-item:hover {
  background: #3b3b3b;
}

.project-item.active {
  background: var(--accent);
  color: white;
  box-shadow:
    0 4px 8px rgba(64, 86, 244, 0.4),
    0 0 0 2px rgba(255, 255, 255, 0.1) inset;
  transform: translateY(-1px);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li > .delete-project {
  background: none;
  background-color: transparent;
  border: none;
  color: var(--text);
  font-size: 1.25rem;
  cursor: pointer;
}

main {
  margin-top: 0.5rem;
  color: var(--text);
  text-align: center;
}

main .addTask {
  font-size: 1rem;
  padding: 0.65em 0.85em;
  background-color: var(--accent);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

dialog {
  background-color: #34344a;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

main form {
  display: grid;
  gap: 0.75rem;
  /* flex-direction: column; */
}

.form-item {
  display: grid;
}

.form-item label {
  text-align: left;
}
